.signup {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 500px;
	/* background-color: var(--backgournd_seconde); */
	border-radius: 10px;
	box-shadow: 0px 0px 50px 0px #a8e3e1;
}

.signup h1 {
	font-weight: bold;
	text-align: center;
	margin:10px  20px 10px 20px;
	padding: 20px 0px 0px 0px;
	height: 10%;
	width: auto;
}

.signup form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75%;
	width: auto;
}

.input_text{
	display: flex;
	flex-direction: row;
	padding: 20px 0px 20px 0px;
	width: auto;
	height: 10%;
	
}
.input_text input{
	width: 290px;
	height: 25px;
	display: block;
	outline: none;
	border: none;
	border-bottom: 2px solid #a2c1c8;
	text-align:	left;
	font-size: medium;
}
.icons {
	padding-top: 3px;
	margin-right: 5px;
	width: 50px;
	height: 30px;
}
.signup p {
	color: red;
}
.signup button {
	font-size: large;
	font-weight: bold;
	margin: 00px 25px 0px 20px;
	width: 200px;
	height: 40px;
	color: #a8e3e1;
	background-color: #4e6a77;
	border: none;
}
